services:
  app:
    image: ghcr.io/excoffierleonard/parser:latest
    build:
      context: .
    restart: unless-stopped
    environment:
      - ENABLE_FILE_SERVING=${ENABLE_FILE_SERVING:-false}
    ports:
      - "${PARSER_APP_PORT:-8080}:8080"
