services:
  app:
    image: ghcr.io/excoffierleonard/parser:latest
    build:
      context: .
    restart: unless-stopped
    environment:
      - ENABLE_FILE_SERVING=${ENABLE_FILE_SERVING:-false}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.parser.rule=Host(`parser.excoffierleonard.com`)"
      - "traefik.http.routers.parser.tls.certresolver=le"
    networks:
      - proxy

networks:
  proxy:
    external: true